In [476]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

from sklearn.feature_extraction.text import TfidfVectorizer

import seaborn as sns
import matplotlib.pyplot as plt

In [477]:
train = pd.read_csv('data_train.csv')
test = pd.read_csv('data_test.csv')

In [478]:
train

,id,time,customer_id,age_group,gender,zipcode_customer,merchant_id,zipcode_merchant,type,amount,fraud
0,0,18,'C1734879586','1','F','28007','M348934600','28007','es_transportation',24.03,0
1,1,125,'C1896147467','2','F','28007','M1823072687','28007','es_transportation',41.08,0
2,2,7,'C1590346257','1','F','28007','M348934600','28007','es_transportation',37.59,0
3,3,66,'C16891369','3','M','28007','M348934600','28007','es_transportation',51.59,0
4,4,140,'C635222317','3','F','28007','M1823072687','28007','es_transportation',20.17,0
...,...,...,...,...,...,...,...,...,...,...,...
296503,296503,25,'C1200336063','2','M','28007','M1823072687','28007','es_transportation',39.51,0
296504,296504,164,'C1632035340','6','M','28007','M348934600','28007','es_transportation',5.44,0
296505,296505,59,'C521436442','3','F','28007','M348934600','28007','es_transportation',19.65,0
296506,296506,96,'C620542168','2','M','28007','M348934600','28007','es_transportation',31.03,0
296507,296507,58,'C1466730207','4','F','28007','M1823072687','28007','es_transportation',18.81,0

In [479]:
test

,id,time,customer_id,age_group,gender,zipcode_customer,merchant_id,zipcode_merchant,type,amount
0,0,168,'C969635352','2','F','28007','M1823072687','28007','es_transportation',16.11
1,1,60,'C1067668919','2','F','28007','M348934600','28007','es_transportation',9.80
2,2,170,'C1347371891','2','M','28007','M1823072687','28007','es_transportation',30.81
3,3,124,'C1100053869','2','M','28007','M1823072687','28007','es_transportation',54.82
4,4,159,'C1110919755','1','F','28007','M348934600','28007','es_transportation',41.02
...,...,...,...,...,...,...,...,...,...,...
298130,298130,43,'C572709519','4','F','28007','M1823072687','28007','es_transportation',45.80
298131,298131,30,'C1740186506','3','M','28007','M348934600','28007','es_transportation',12.62
298132,298132,25,'C1594422820','4','F','28007','M348934600','28007','es_transportation',22.91
298133,298133,7,'C918296398','2','F','28007','M348934600','28007','es_transportation',19.54
298134,298134,141,'C113294083','4','F','28007','M1823072687','28007','es_transportation',22.24

In [480]:
#无缺失值
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296508 entries, 0 to 296507
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                296508 non-null  int64
 1   time              296508 non-null  int64
 2   customer_id       296508 non-null  object
 3   age_group         296508 non-null  object
 4   gender            296508 non-null  object
 5   zipcode_customer  296508 non-null  object
 6   merchant_id       296508 non-null  object
 7   zipcode_merchant  296508 non-null  object
 8   type              296508 non-null  object
 9   amount            296508 non-null  float64
 10  fraud             296508 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 24.9+ MB

In [481]:
#可去掉‘zipcode_customer’和‘zipcode_merchant’特征
features = train.columns
for feature in features:
    print(feature, train[feature].nunique())

id 296508
time 180
customer_id 2056
age_group 8
gender 4
zipcode_customer 1
merchant_id 50
zipcode_merchant 1
type 15
amount 17683
fraud 2

### 一、初步特征工程
原始特征处理以及增加基于原始特征的统计特征

In [482]:
#1.去掉‘zipcode_customer’和‘zipcode_merchant’特征
train.drop(['zipcode_customer','zipcode_merchant'], axis=1, inplace=True)
test.drop(['zipcode_customer','zipcode_merchant'], axis=1, inplace=True)

In [483]:
features = test.columns   
for feature in features:
    print(feature, test[feature].nunique())

id 298135
time 180
customer_id 2056
age_group 8
gender 4
merchant_id 50
type 15
amount 18084

In [484]:
df_all = pd.concat([train, test])

In [485]:
#训练集的customer_id数量 + 测试集的customer_id数量 = 全集customer_id数量
#在训练集和验证集上，customer_id没有重复值
features = df_all.columns   
for feature in features:
    print(feature, df_all[feature].nunique())

id 298135
time 180
customer_id 4112
age_group 8
gender 4
merchant_id 50
type 15
amount 23772
fraud 2

探寻customer_id和merchant_id之间的关系

In [486]:
#同一个customer_id，可能不会发生欺诈行为，也可能会发生欺诈行为
#2.预测为每笔交易的欺诈行为，考虑把train和test进行合并，获得customer_id统一变换
train.groupby(['customer_id','fraud']).count()

                      id  time  age_group  gender  merchant_id  type  amount
customer_id   fraud
'C1000148617' 0      130   130        130     130          130   130     130
              1        1     1          1       1            1     1       1
'C1004109477' 0      162   162        162     162          162   162     162
'C1005126300' 0      178   178        178     178          178   178     178
'C1005495267' 0      177   177        177     177          177   177     177
...                  ...   ...        ...     ...          ...   ...     ...
'C99729647'   0      175   175        175     175          175   175     175
'C998690782'  0      169   169        169     169          169   169     169
              1        2     2          2       2            2     2       2
'C999723254'  0      121   121        121     121          121   121     121
              1        1     1          1       1            1     1       1

[2796 rows x 7 columns]

In [487]:
#3.把object特征转化为数值特征
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_all['customer_id2'] = le.fit_transform(df_all['customer_id'])
df_all['merchant_id2'] = le.fit_transform(df_all['merchant_id'])
df_all['gender'] = le.fit_transform(df_all['gender'])
df_all['type'] = le.fit_transform(df_all['type'])

In [488]:
df_all['age_group'].value_counts()

'2'    187310
'3'    147131
'4'    109025
'5'     62642
'1'     58131
'6'     26774
'0'      2452
'U'      1178
Name: age_group, dtype: int64

In [489]:
df_all['age_group'].value_counts().index.tolist()

["'2'", "'3'", "'4'", "'5'", "'1'", "'6'", "'0'", "'U'"]

In [490]:
#4.把object特征转化为数值特征
dict1 = {"'2'":2, "'3'":3, "'4'":4, "'5'":5, "'1'":1, "'6'":6, "'0'":0, "'U'":7}
df_all['age_group'] = df_all['age_group'].map(dict1)

In [491]:
#通过后面模型验证和feature_importance，取_count特征足以，另外merchant_id_count无特别大的作用；
#5.只取类别特征gender, type, age_group的_count特征，无需取_mean和_std相关特征；
cat_features = ['age_group', 'gender', 'type'] 
for col in cat_features:
    temp = df_all.groupby(col, as_index=False)[col].agg({col+'_count': 'count'}) #,col+'_mean':'mean',col+'_std':'std'})
    df_all = pd.merge(df_all, temp, on=col, how='left')

In [492]:
#从后面模型验证可看到，merchant_id和customer_id在模型中，起到非常重要作用，构建此两个特征的交叉统计特征
#6.交叉统计特征：mer_cust_count','mer_cust_mean','mer_cust_std'
temp1 = df_all.groupby('merchant_id2', as_index=False)['customer_id2'].agg({'mer_cust_count': 'count','mer_cust_mean':'mean','mer_cust_std':'std'})
df_all = pd.merge(df_all, temp1, on='merchant_id2', how='left')

In [493]:
#df_all.drop('merchant_id',axis=1, inplace=True)
#df_all.drop('customer_id',axis=1, inplace=True)
df_all

,id,time,customer_id,age_group,gender,merchant_id,type,amount,fraud,customer_id2,merchant_id2,age_group_count,gender_count,type_count,mer_cust_count,mer_cust_mean,mer_cust_std
0,0,18,'C1734879586',1,1,'M348934600',12,24.03,0.0,1603,30,58131,324565,505119,205426,2067.895719,1191.492350
1,1,125,'C1896147467',2,1,'M1823072687',12,41.08,0.0,1936,18,187310,324565,505119,299693,2021.446050,1180.380772
2,2,7,'C1590346257',1,1,'M348934600',12,37.59,0.0,1283,30,58131,324565,505119,205426,2067.895719,1191.492350
3,3,66,'C16891369',3,2,'M348934600',12,51.59,0.0,1491,30,147131,268385,505119,205426,2067.895719,1191.492350
4,4,140,'C635222317',3,1,'M1823072687',12,20.17,0.0,3337,18,147131,324565,505119,299693,2021.446050,1180.380772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594638,298130,43,'C572709519',4,1,'M1823072687',12,45.80,NaN,3194,18,109025,324565,505119,299693,2021.446050,1180.380772
594639,298131,30,'C1740186506',3,2,'M348934600',12,12.62,NaN,1617,30,147131,268385,505119,205426,2067.895719,1191.492350
594640,298132,25,'C1594422820',4,1,'M348934600',12,22.91,NaN,1293,30,109025,324565,505119,205426,2067.895719,1191.492350
594641,298133,7,'C918296398',2,1,'M348934600',12,19.54,NaN,3949,30,187310,324565,505119,205426,2067.895719,1191.492350
594642,298134,141,'C113294083',4,1,'M1823072687',12,22.24,NaN,286,18,109025,324565,505119,299693,2021.446050,1180.380772

In [ ]:
#df_train = df_all[df_all['fraud'].notnull()]
#df_test = df_all[df_all['fraud'].isnull()]
#df_train

### 二、特征工程进阶
构建基于customer_id和merchant_id的tfidf特征

In [ ]:
#各类_count特征间相关性比较高
colormap = plt.cm.RdBu
plt.figure(figsize=(15,15))
plt.title('Pearson Correlation of Features', y=1.05, size=15)
sns.heatmap(df_train.drop('id', axis=1).astype(float).corr(),linewidths=0.1,vmax=1.0, 
            square=True, cmap=colormap, linecolor='white', annot=True)

In [654]:
#1.基于customer_id,把merchant_id连接起来
def get_merchant(df):
    df_file = df.groupby('customer_id')
    file_merch = {}
    for file_id,file_group in df_file:
        result = file_group.sort_values(['id'], ascending=True)
        merch_seq = ' '.join(result['merchant_id'])
        file_merch[file_id] = merch_seq 
    return file_merch

In [655]:
data1 = get_merchant(df_all)
#data1

In [656]:
#2.获得有customer_id和基于customer_id的merchant_id连接起来的字符串dataframe
df_merch = pd.DataFrame.from_dict(data1, orient='index' , columns=['merchant_seq'])
df_merch = df_merch.reset_index().rename(columns={'index':'customer_id'})
df_merch

        customer_id                                       merchant_seq
0     'C1000148617'  'M1823072687' 'M348934600' 'M1823072687' 'M348...
1      'C100045114'  'M348934600' 'M1823072687' 'M85975013' 'M18230...
2     'C1000699316'  'M1823072687' 'M85975013' 'M1823072687' 'M3489...
3     'C1001065306'  'M840466850' 'M2122776122' 'M692898500' 'M1737...
4     'C1002658784'  'M348934600' 'M348934600' 'M1823072687' 'M1823...
...             ...                                                ...
4107    'C99729647'  'M1823072687' 'M348934600' 'M348934600' 'M3489...
4108   'C998690782'  'M348934600' 'M1823072687' 'M348934600' 'M3489...
4109   'C998987490'  'M1823072687' 'M1823072687' 'M1053599405' 'M18...
4110   'C999393223'  'M348934600' 'M348934600' 'M348934600' 'M34893...
4111   'C999723254'  'M1823072687' 'M85975013' 'M349281107' 'M15351...

[4112 rows x 2 columns]

In [497]:
#3.使用1-3元tfidf语法
vec = TfidfVectorizer(ngram_range=(1,3),min_df=0.1, max_df=0.8)

In [498]:
merch_features = vec.fit_transform(df_merch['merchant_seq'])
merch_features

<4112x170 sparse matrix of type '<class 'numpy.float64'>'
	with 191586 stored elements in Compressed Sparse Row format>

In [499]:
#4.获得基于customer_id的merchant_id的tdidf特征dataframe
df_merchs = pd.DataFrame(merch_features.toarray(), columns = vec.get_feature_names())
df_merchs

,m1053599405,m1053599405 m1823072687,m1053599405 m1823072687 m1823072687,m1053599405 m1823072687 m348934600,m1053599405 m348934600,m1053599405 m348934600 m1823072687,m1053599405 m348934600 m348934600,m1198415165,m1198415165 m348934600,m1313686961,...,m85975013 m1823072687 m1823072687,m85975013 m1823072687 m348934600,m85975013 m1823072687 m85975013,m85975013 m348934600,m85975013 m348934600 m1823072687,m85975013 m348934600 m348934600,m85975013 m85975013,m85975013 m85975013 m1823072687,m97925176,m980657600
0,0.024141,0.028986,0.000000,0.049456,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.051450,0.000000,0.047545,0.025170,0.000000,0.036221,0.041815,0.0,0.000000,0.000000
1,0.174191,0.052288,0.000000,0.000000,0.069550,0.000000,0.097371,0.304698,0.298962,0.000000,...,0.000000,0.000000,0.000000,0.090808,0.055713,0.065340,0.000000,0.0,0.207436,0.000000
2,0.057151,0.000000,0.000000,0.000000,0.091276,0.116103,0.000000,0.099970,0.130784,0.000000,...,0.121804,0.072901,0.000000,0.178763,0.146233,0.000000,0.000000,0.0,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.174640,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.288023
4,0.065501,0.000000,0.000000,0.000000,0.052306,0.000000,0.073229,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.102440,0.083799,0.000000,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107,0.045528,0.027333,0.031966,0.000000,0.036356,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.048516,0.029037,0.000000,0.071204,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
4108,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.026812,0.000000,0.021916,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
4109,0.085039,0.085089,0.099513,0.000000,0.022636,0.000000,0.000000,0.000000,0.000000,0.032391,...,0.135930,0.000000,0.027914,0.014777,0.000000,0.021266,0.000000,0.0,0.000000,0.000000
4110,0.047541,0.028541,0.000000,0.048698,0.037964,0.000000,0.053150,0.083160,0.108793,0.000000,...,0.000000,0.000000,0.000000,0.123920,0.030411,0.106998,0.000000,0.0,0.113230,0.000000
4111,0.064720,0.038855,0.045441,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.068967,0.041278,0.000000,0.067479,0.041400,0.000000,0.000000,0.0,0.000000,0.000000

In [505]:
#5.把customer_id加进来，用于后面与df_all列表连接
df_merch1 = df_merch.merge(df_merchs, left_index=True, right_index=True)
df_merch1

,customer_id,merchant_seq,m1053599405,m1053599405 m1823072687,m1053599405 m1823072687 m1823072687,m1053599405 m1823072687 m348934600,m1053599405 m348934600,m1053599405 m348934600 m1823072687,m1053599405 m348934600 m348934600,m1198415165,...,m85975013 m1823072687 m1823072687,m85975013 m1823072687 m348934600,m85975013 m1823072687 m85975013,m85975013 m348934600,m85975013 m348934600 m1823072687,m85975013 m348934600 m348934600,m85975013 m85975013,m85975013 m85975013 m1823072687,m97925176,m980657600
0,'C1000148617','M1823072687' 'M348934600' 'M1823072687' 'M348...,0.024141,0.028986,0.000000,0.049456,0.000000,0.000000,0.000000,0.000000,...,0.051450,0.000000,0.047545,0.025170,0.000000,0.036221,0.041815,0.0,0.000000,0.000000
1,'C100045114','M348934600' 'M1823072687' 'M85975013' 'M18230...,0.174191,0.052288,0.000000,0.000000,0.069550,0.000000,0.097371,0.304698,...,0.000000,0.000000,0.000000,0.090808,0.055713,0.065340,0.000000,0.0,0.207436,0.000000
2,'C1000699316','M1823072687' 'M85975013' 'M1823072687' 'M3489...,0.057151,0.000000,0.000000,0.000000,0.091276,0.116103,0.000000,0.099970,...,0.121804,0.072901,0.000000,0.178763,0.146233,0.000000,0.000000,0.0,0.000000,0.000000
3,'C1001065306','M840466850' 'M2122776122' 'M692898500' 'M1737...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.174640,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.288023
4,'C1002658784','M348934600' 'M348934600' 'M1823072687' 'M1823...,0.065501,0.000000,0.000000,0.000000,0.052306,0.000000,0.073229,0.000000,...,0.000000,0.000000,0.000000,0.102440,0.083799,0.000000,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107,'C99729647','M1823072687' 'M348934600' 'M348934600' 'M3489...,0.045528,0.027333,0.031966,0.000000,0.036356,0.000000,0.000000,0.000000,...,0.048516,0.029037,0.000000,0.071204,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
4108,'C998690782','M348934600' 'M1823072687' 'M348934600' 'M3489...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.026812,0.000000,0.021916,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
4109,'C998987490','M1823072687' 'M1823072687' 'M1053599405' 'M18...,0.085039,0.085089,0.099513,0.000000,0.022636,0.000000,0.000000,0.000000,...,0.135930,0.000000,0.027914,0.014777,0.000000,0.021266,0.000000,0.0,0.000000,0.000000
4110,'C999393223','M348934600' 'M348934600' 'M348934600' 'M34893...,0.047541,0.028541,0.000000,0.048698,0.037964,0.000000,0.053150,0.083160,...,0.000000,0.000000,0.000000,0.123920,0.030411,0.106998,0.000000,0.0,0.113230,0.000000
4111,'C999723254','M1823072687' 'M85975013' 'M349281107' 'M15351...,0.064720,0.038855,0.045441,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.068967,0.041278,0.000000,0.067479,0.041400,0.000000,0.000000,0.0,0.000000,0.000000

In [506]:
#6.df_merch1与df_all左联
df2_all = df_all.merge(df_merch1, on='customer_id', how='left')
df2_all

,id,time,customer_id,age_group,gender,merchant_id,type,amount,fraud,customer_id2,...,m85975013 m1823072687 m1823072687,m85975013 m1823072687 m348934600,m85975013 m1823072687 m85975013,m85975013 m348934600,m85975013 m348934600 m1823072687,m85975013 m348934600 m348934600,m85975013 m85975013,m85975013 m85975013 m1823072687,m97925176,m980657600
0,0,18,'C1734879586',1,1,'M348934600',12,24.03,0.0,1603,...,0.179368,0.061345,0.000000,0.100284,0.092289,0.036079,0.041651,0.047172,0.000000,0.0
1,1,125,'C1896147467',2,1,'M1823072687',12,41.08,0.0,1936,...,0.071062,0.042532,0.000000,0.104293,0.042657,0.050028,0.000000,0.000000,0.079413,0.0
2,2,7,'C1590346257',1,1,'M348934600',12,37.59,0.0,1283,...,0.183121,0.039855,0.030768,0.081441,0.059959,0.046879,0.027060,0.030647,0.000000,0.0
3,3,66,'C16891369',3,2,'M348934600',12,51.59,0.0,1491,...,0.028522,0.000000,0.000000,0.111625,0.102726,0.000000,0.000000,0.000000,0.000000,0.0
4,4,140,'C635222317',3,1,'M1823072687',12,20.17,0.0,3337,...,0.052175,0.062455,0.000000,0.068066,0.020880,0.048976,0.056540,0.032017,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594638,298130,43,'C572709519',4,1,'M1823072687',12,45.80,NaN,3194,...,0.054851,0.000000,0.033792,0.000000,0.000000,0.000000,0.029720,0.033659,0.000000,0.0
594639,298131,30,'C1740186506',3,2,'M348934600',12,12.62,NaN,1617,...,0.084959,0.000000,0.000000,0.138542,0.169997,0.000000,0.046033,0.000000,0.126590,0.0
594640,298132,25,'C1594422820',4,1,'M348934600',12,22.91,NaN,1293,...,0.078036,0.062274,0.000000,0.025451,0.031229,0.000000,0.000000,0.000000,0.000000,0.0
594641,298133,7,'C918296398',2,1,'M348934600',12,19.54,NaN,3949,...,0.027888,0.066766,0.000000,0.054573,0.000000,0.078534,0.000000,0.000000,0.000000,0.0
594642,298134,141,'C113294083',4,1,'M1823072687',12,22.24,NaN,286,...,0.171254,0.000000,0.000000,0.000000,0.000000,0.000000,0.034796,0.039408,0.000000,0.0

In [507]:
#7.因已有'customer_id2','merchant_id2'数值特征，删除'customer_id','merchant_id'字符特征，删除‘merchant_seq’特征
df2_all.drop(['customer_id','merchant_id','merchant_seq'],axis=1,inplace=True)

In [508]:
#8.分开df_all，得到训练集和验证集
df_train = df2_all[df2_all['fraud'].notnull()]
df_test = df2_all[df2_all['fraud'].isnull()]
df_train
#df_test

,id,time,age_group,gender,type,amount,fraud,customer_id2,merchant_id2,age_group_count,...,m85975013 m1823072687 m1823072687,m85975013 m1823072687 m348934600,m85975013 m1823072687 m85975013,m85975013 m348934600,m85975013 m348934600 m1823072687,m85975013 m348934600 m348934600,m85975013 m85975013,m85975013 m85975013 m1823072687,m97925176,m980657600
0,0,18,1,1,12,24.03,0.0,1603,30,58131,...,0.179368,0.061345,0.000000,0.100284,0.092289,0.036079,0.041651,0.047172,0.000000,0.000000
1,1,125,2,1,12,41.08,0.0,1936,18,187310,...,0.071062,0.042532,0.000000,0.104293,0.042657,0.050028,0.000000,0.000000,0.079413,0.000000
2,2,7,1,1,12,37.59,0.0,1283,30,58131,...,0.183121,0.039855,0.030768,0.081441,0.059959,0.046879,0.027060,0.030647,0.000000,0.000000
3,3,66,3,2,12,51.59,0.0,1491,30,147131,...,0.028522,0.000000,0.000000,0.111625,0.102726,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,140,3,1,12,20.17,0.0,3337,18,147131,...,0.052175,0.062455,0.000000,0.068066,0.020880,0.048976,0.056540,0.032017,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296503,296503,25,2,2,12,39.51,0.0,447,18,187310,...,0.085961,0.000000,0.022696,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
296504,296504,164,6,2,12,5.44,0.0,1366,30,26774,...,0.043339,0.000000,0.000000,0.169616,0.104063,0.061022,0.000000,0.000000,0.000000,0.000000
296505,296505,59,3,1,12,19.65,0.0,3102,30,147131,...,0.061605,0.036872,0.000000,0.060276,0.073961,0.000000,0.000000,0.000000,0.000000,0.000000
296506,296506,96,2,2,12,31.03,0.0,3312,30,187310,...,0.000000,0.000000,0.000000,0.011441,0.000000,0.000000,0.000000,0.000000,0.052269,0.000000
296507,296507,58,4,1,12,18.81,0.0,1010,18,109025,...,0.069967,0.020938,0.000000,0.017114,0.021000,0.000000,0.000000,0.000000,0.000000,0.031569

### 三、其他特征工程优化
创建基于customer_id的统计特征

In [739]:
df_merch_n = df_merch.copy()
#df_merch_n

In [740]:
#1.构造新的特征，基于customer_id的聚合统计
def get_features(df):
    #按照customer_id分组，提取统计特征
    df_file = df.groupby('customer_id')
        
    #提取多个特征，统计特征api, tid, index
    features = ['time', 'age_group', 'gender','type','amount','merchant_id2']
    #针对file_id构造不同的特征，一个file_id只有一行数据
    for f in features:
        df_merch_n[f+'_count_cu'] = df_file[f].count().values
        df_merch_n[f+'_nunique'] = df_file[f].nunique().values
        df_merch_n[f+'_max'] = df_file[f].max().values
        df_merch_n[f+'_min'] = df_file[f].min().values
        df_merch_n[f+'_mean'] = df_file[f].mean().values
        df_merch_n[f+'_std'] = df_file[f].std().values
        df_merch_n[f+'_ptp'] = df_file[f].max().values - df_file[f].min().values
    return df_merch_n

In [741]:
df_merch3 = get_features(df_all)
df_merch3

,customer_id,merchant_seq,time_count_cu,time_nunique,time_max,time_min,time_mean,time_std,time_ptp,age_group_count_cu,...,amount_mean,amount_std,amount_ptp,merchant_id2_count_cu,merchant_id2_nunique,merchant_id2_max,merchant_id2_min,merchant_id2_mean,merchant_id2_std,merchant_id2_ptp
0,'C1000148617','M1823072687' 'M348934600' 'M1823072687' 'M348...,131,128,179,30,107.786260,40.826652,149,131,...,35.091908,36.863536,322.84,131,14,45,0,21.595420,7.547571,45
1,'C100045114','M348934600' 'M1823072687' 'M85975013' 'M18230...,109,91,179,0,124.532110,43.704938,179,109,...,90.336239,381.812802,3901.56,109,22,48,0,24.807339,11.076733,48
2,'C1000699316','M1823072687' 'M85975013' 'M1823072687' 'M3489...,94,93,173,0,51.436170,35.752001,173,94,...,38.154894,41.544414,325.35,94,10,45,0,23.255319,8.869346,45
3,'C1001065306','M840466850' 'M2122776122' 'M692898500' 'M1737...,30,21,155,21,91.833333,43.885496,134,30,...,204.754667,306.240251,1259.89,30,11,49,2,30.733333,13.434216,47
4,'C1002658784','M348934600' 'M348934600' 'M1823072687' 'M1823...,131,128,179,22,107.702290,42.194366,157,131,...,34.253282,27.820062,196.71,131,17,45,0,26.007634,8.434814,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107,'C99729647','M1823072687' 'M348934600' 'M348934600' 'M3489...,175,169,178,0,89.891429,52.325514,178,175,...,32.555771,30.641718,241.41,175,14,45,0,22.560000,8.082591,45
4108,'C998690782','M348934600' 'M1823072687' 'M348934600' 'M3489...,171,168,179,0,89.005848,52.749073,179,171,...,61.211637,421.233339,5526.96,171,11,45,9,25.959064,7.212209,36
4109,'C998987490','M1823072687' 'M1823072687' 'M1053599405' 'M18...,177,170,179,0,90.107345,53.182520,179,177,...,32.273107,30.122381,219.45,177,8,45,0,20.514124,8.598432,45
4110,'C999393223','M348934600' 'M348934600' 'M348934600' 'M34893...,142,130,179,6,104.992958,45.159056,173,142,...,36.018944,48.619220,476.31,142,16,48,0,28.183099,8.717489,48
4111,'C999723254','M1823072687' 'M85975013' 'M349281107' 'M15351...,122,119,179,11,111.745902,39.176558,168,122,...,29.184016,35.059192,268.41,122,11,45,0,22.729508,8.845821,45

In [703]:
features = df_merch3.columns
for feature in features:
    if df_merch3[feature].nunique()==1:
        print(feature, df_merch3[feature].nunique())

age_group_nunique 1
age_group_std 1
age_group_ptp 1
gender_nunique 1
gender_std 1
gender_ptp 1

In [742]:
#2.移除一些只有一个值的特征
remov= ['age_group_nunique', 'age_group_std','age_group_ptp','gender_nunique', 'gender_std', 'gender_ptp','merchant_seq']
df_merch3.drop(remov, axis=1, inplace=True)

In [743]:
#3.df_merch3与df_all左联，获得基于customer_id统计特征的全数据dataframe
df3_all = df_all.merge(df_merch3, on='customer_id', how='left')
#df3_all

In [706]:
#4.获得基于customer_id的统计特征和tdidf特征
df_merch4 = df_merch3.merge(df_merch1, on='customer_id', how='left')
df_merch4

,customer_id,time_count_cu,time_nunique,time_max,time_min,time_mean,time_std,time_ptp,age_group_count_cu,age_group_max,...,m85975013 m1823072687 m348934600,m85975013 m1823072687 m85975013,m85975013 m348934600,m85975013 m348934600 m1823072687,m85975013 m348934600 m348934600,m85975013 m85975013,m85975013 m85975013 m1823072687,m97925176,m980657600,merchant_seq_len
0,'C1000148617',131,128,179,30,107.786260,40.826652,149,131,5,...,0.000000,0.047545,0.025170,0.000000,0.036221,0.041815,0.0,0.000000,0.000000,1795
1,'C100045114',109,91,179,0,124.532110,43.704938,179,109,4,...,0.000000,0.000000,0.090808,0.055713,0.065340,0.000000,0.0,0.207436,0.000000,1456
2,'C1000699316',94,93,173,0,51.436170,35.752001,173,94,4,...,0.072901,0.000000,0.178763,0.146233,0.000000,0.000000,0.0,0.000000,0.000000,1273
3,'C1001065306',30,21,155,21,91.833333,43.885496,134,30,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.288023,388
4,'C1002658784',131,128,179,22,107.702290,42.194366,157,131,3,...,0.000000,0.000000,0.102440,0.083799,0.000000,0.000000,0.0,0.000000,0.000000,1742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107,'C99729647',175,169,178,0,89.891429,52.325514,178,175,3,...,0.029037,0.000000,0.071204,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,2382
4108,'C998690782',171,168,179,0,89.005848,52.749073,179,171,2,...,0.026812,0.000000,0.021916,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,2277
4109,'C998987490',177,170,179,0,90.107345,53.182520,179,177,2,...,0.000000,0.027914,0.014777,0.000000,0.021266,0.000000,0.0,0.000000,0.000000,2435
4110,'C999393223',142,130,179,6,104.992958,45.159056,173,142,1,...,0.000000,0.000000,0.123920,0.030411,0.106998,0.000000,0.0,0.113230,0.000000,1865
4111,'C999723254',122,119,179,11,111.745902,39.176558,168,122,2,...,0.041278,0.000000,0.067479,0.041400,0.000000,0.000000,0.0,0.000000,0.000000,1660

In [707]:
#5.df_merch3与df_all左联，获得基于customer_id统计特征的全数据dataframe
df4_all = df_all.merge(df_merch4, on='customer_id', how='left')
df4_all

,id,time,customer_id,age_group,gender,merchant_id,type,amount,fraud,customer_id2,...,m85975013 m1823072687 m348934600,m85975013 m1823072687 m85975013,m85975013 m348934600,m85975013 m348934600 m1823072687,m85975013 m348934600 m348934600,m85975013 m85975013,m85975013 m85975013 m1823072687,m97925176,m980657600,merchant_seq_len
0,0,18,'C1734879586',1,1,'M348934600',12,24.03,0.0,1603,...,0.061345,0.000000,0.100284,0.092289,0.036079,0.041651,0.047172,0.000000,0.0,2409
1,1,125,'C1896147467',2,1,'M1823072687',12,41.08,0.0,1936,...,0.042532,0.000000,0.104293,0.042657,0.050028,0.000000,0.000000,0.079413,0.0,2140
2,2,7,'C1590346257',1,1,'M348934600',12,37.59,0.0,1283,...,0.039855,0.030768,0.081441,0.059959,0.046879,0.027060,0.030647,0.000000,0.0,2298
3,3,66,'C16891369',3,2,'M348934600',12,51.59,0.0,1491,...,0.000000,0.000000,0.111625,0.102726,0.000000,0.000000,0.000000,0.000000,0.0,2274
4,4,140,'C635222317',3,1,'M1823072687',12,20.17,0.0,3337,...,0.062455,0.000000,0.068066,0.020880,0.048976,0.056540,0.032017,0.000000,0.0,2396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594638,298130,43,'C572709519',4,1,'M1823072687',12,45.80,NaN,3194,...,0.000000,0.033792,0.000000,0.000000,0.000000,0.029720,0.033659,0.000000,0.0,1604
594639,298131,30,'C1740186506',3,2,'M348934600',12,12.62,NaN,1617,...,0.000000,0.000000,0.138542,0.169997,0.000000,0.046033,0.000000,0.126590,0.0,2366
594640,298132,25,'C1594422820',4,1,'M348934600',12,22.91,NaN,1293,...,0.062274,0.000000,0.025451,0.031229,0.000000,0.000000,0.000000,0.000000,0.0,2422
594641,298133,7,'C918296398',2,1,'M348934600',12,19.54,NaN,3949,...,0.066766,0.000000,0.054573,0.000000,0.078534,0.000000,0.000000,0.000000,0.0,2394
594642,298134,141,'C113294083',4,1,'M1823072687',12,22.24,NaN,286,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.034796,0.039408,0.000000,0.0,1973

In [746]:
#6.因已有'customer_id2','merchant_id2'数值特征，删除'customer_id','merchant_id'字符特征,删除'merchant_seq‘
df3_all.drop(['customer_id','merchant_id'],axis=1,inplace=True)

In [748]:
#7.分开df_all，得到训练集和验证集
df_train = df3_all[df3_all['fraud'].notnull()]
df_test = df3_all[df3_all['fraud'].isnull()]
df_train
#df_test

,id,time,age_group,gender,type,amount,fraud,customer_id2,merchant_id2,age_group_count,...,amount_mean,amount_std,amount_ptp,merchant_id2_count_cu,merchant_id2_nunique,merchant_id2_max,merchant_id2_min,merchant_id2_mean,merchant_id2_std,merchant_id2_ptp
0,0,18,1,1,12,24.03,0.0,1603,30,58131,...,30.676011,34.283355,307.36,178,11,45,0,23.511236,9.245087,45
1,1,125,2,1,12,41.08,0.0,1936,18,187310,...,33.788437,26.224662,171.21,160,15,48,9,24.931250,8.699109,39
2,2,7,1,1,12,37.59,0.0,1283,30,58131,...,29.398639,20.849127,131.48,169,8,45,0,23.017751,10.025844,45
3,3,66,3,2,12,51.59,0.0,1491,30,147131,...,25.027083,19.072839,89.98,168,8,45,0,23.738095,7.543279,45
4,4,140,3,1,12,20.17,0.0,3337,18,147131,...,36.163314,38.324145,310.59,175,7,45,0,21.525714,8.525025,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296503,296503,25,2,2,12,39.51,0.0,447,18,187310,...,32.311893,32.836659,230.51,169,11,45,0,20.514793,7.294899,45
296504,296504,164,6,2,12,5.44,0.0,1366,30,26774,...,41.844435,69.653753,663.17,124,16,45,2,25.846774,8.542619,43
296505,296505,59,3,1,12,19.65,0.0,3102,30,147131,...,27.386786,25.401472,164.89,168,8,45,0,23.785714,7.961090,45
296506,296506,96,2,2,12,31.03,0.0,3312,30,187310,...,38.949766,112.389550,1476.96,171,10,48,9,28.894737,5.910163,39
296507,296507,58,4,1,12,18.81,0.0,1010,18,109025,...,32.126038,30.579173,299.65,159,13,49,2,21.396226,7.810265,47

In [710]:
#df_test

### 四、获得customer_id下merchant_id的embedding（Glove）

In [629]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding
from tensorflow import keras 
from tensorflow.keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(lower=False)
tokenizer

In [509]:
df_merch1

,customer_id,merchant_seq,m1053599405,m1053599405 m1823072687,m1053599405 m1823072687 m1823072687,m1053599405 m1823072687 m348934600,m1053599405 m348934600,m1053599405 m348934600 m1823072687,m1053599405 m348934600 m348934600,m1198415165,...,m85975013 m1823072687 m1823072687,m85975013 m1823072687 m348934600,m85975013 m1823072687 m85975013,m85975013 m348934600,m85975013 m348934600 m1823072687,m85975013 m348934600 m348934600,m85975013 m85975013,m85975013 m85975013 m1823072687,m97925176,m980657600
0,'C1000148617','M1823072687' 'M348934600' 'M1823072687' 'M348...,0.024141,0.028986,0.000000,0.049456,0.000000,0.000000,0.000000,0.000000,...,0.051450,0.000000,0.047545,0.025170,0.000000,0.036221,0.041815,0.0,0.000000,0.000000
1,'C100045114','M348934600' 'M1823072687' 'M85975013' 'M18230...,0.174191,0.052288,0.000000,0.000000,0.069550,0.000000,0.097371,0.304698,...,0.000000,0.000000,0.000000,0.090808,0.055713,0.065340,0.000000,0.0,0.207436,0.000000
2,'C1000699316','M1823072687' 'M85975013' 'M1823072687' 'M3489...,0.057151,0.000000,0.000000,0.000000,0.091276,0.116103,0.000000,0.099970,...,0.121804,0.072901,0.000000,0.178763,0.146233,0.000000,0.000000,0.0,0.000000,0.000000
3,'C1001065306','M840466850' 'M2122776122' 'M692898500' 'M1737...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.174640,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.288023
4,'C1002658784','M348934600' 'M348934600' 'M1823072687' 'M1823...,0.065501,0.000000,0.000000,0.000000,0.052306,0.000000,0.073229,0.000000,...,0.000000,0.000000,0.000000,0.102440,0.083799,0.000000,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107,'C99729647','M1823072687' 'M348934600' 'M348934600' 'M3489...,0.045528,0.027333,0.031966,0.000000,0.036356,0.000000,0.000000,0.000000,...,0.048516,0.029037,0.000000,0.071204,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
4108,'C998690782','M348934600' 'M1823072687' 'M348934600' 'M3489...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.026812,0.000000,0.021916,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
4109,'C998987490','M1823072687' 'M1823072687' 'M1053599405' 'M18...,0.085039,0.085089,0.099513,0.000000,0.022636,0.000000,0.000000,0.000000,...,0.135930,0.000000,0.027914,0.014777,0.000000,0.021266,0.000000,0.0,0.000000,0.000000
4110,'C999393223','M348934600' 'M348934600' 'M348934600' 'M34893...,0.047541,0.028541,0.000000,0.048698,0.037964,0.000000,0.053150,0.083160,...,0.000000,0.000000,0.000000,0.123920,0.030411,0.106998,0.000000,0.0,0.113230,0.000000
4111,'C999723254','M1823072687' 'M85975013' 'M349281107' 'M15351...,0.064720,0.038855,0.045441,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.068967,0.041278,0.000000,0.067479,0.041400,0.000000,0.000000,0.0,0.000000,0.000000

In [510]:
df_merch1['merchant_seq_len'] = df_merch1['merchant_seq'].map(lambda x: len(x))
df_merch1['merchant_seq_len'].value_counts().sort_index(ascending=False)

3542    1
3282    1
3193    1
2776    1
2679    1
       ..
89      1
80      1
77      1
67      1
66      2
Name: merchant_seq_len, Length: 1448, dtype: int64

In [511]:
df_merch1['merchant_seq_len'].describe()

count    4112.000000
mean     1951.534047
std       586.890996
min        66.000000
25%      1736.750000
50%      2210.000000
75%      2348.250000
max      3542.000000
Name: merchant_seq_len, dtype: float64

In [512]:
max_len = 3000

In [513]:
df_merch1[['merchant_seq']].to_csv('text8.txt', header=None, index=False, sep=" ")

In [592]:
tokenizer.fit_on_texts(df_merch1['merchant_seq'].tolist())

In [593]:
vocab = tokenizer.word_index
print(len(vocab))
vocab

50

{"'M1823072687'": 1,
 "'M348934600'": 2,
 "'M85975013'": 3,
 "'M1053599405'": 4,
 "'M151143676'": 5,
 "'M855959430'": 6,
 "'M1946091778'": 7,
 "'M1913465890'": 8,
 "'M209847108'": 9,
 "'M480139044'": 10,
 "'M349281107'": 11,
 "'M1600850729'": 12,
 "'M1535107174'": 13,
 "'M980657600'": 14,
 "'M78078399'": 15,
 "'M1198415165'": 16,
 "'M840466850'": 17,
 "'M1649169323'": 18,
 "'M547558035'": 19,
 "'M50039827'": 20,
 "'M1888755466'": 21,
 "'M692898500'": 22,
 "'M1400236507'": 23,
 "'M1842530320'": 24,
 "'M732195782'": 25,
 "'M97925176'": 26,
 "'M45060432'": 27,
 "'M1741626453'": 28,
 "'M1313686961'": 29,
 "'M1872033263'": 30,
 "'M1352454843'": 31,
 "'M677738360'": 32,
 "'M2122776122'": 33,
 "'M923029380'": 34,
 "'M3697346'": 35,
 "'M17379832'": 36,
 "'M1748431652'": 37,
 "'M1873032707'": 38,
 "'M2011752106'": 39,
 "'M1416436880'": 40,
 "'M1294758098'": 41,
 "'M1788569036'": 42,
 "'M857378720'": 43,
 "'M348875670'": 44,
 "'M1353266412'": 45,
 "'M933210764'": 46,
 "'M495352832'": 47,
 "'M2080407379'": 48,
 "'M117188757'": 49,
 "'M1726401631'": 50}

In [594]:
#将句子用字典id替换
x_word_ids = tokenizer.texts_to_sequences(df_merch1['merchant_seq'].tolist())

In [595]:
#填充到固定长度，截长补短（补0）
x_padded_seqs = keras.preprocessing.sequence.pad_sequences(x_word_ids, max_len)

In [596]:
x_padded_seqs.shape

(4112, 3000)

### 基于 customer_id 下的做 merchant_id 的 embedding
以customer_id分类，把得到的merchant_id连接起来的字符串作为glove语料库，训练得到对应的merchant_id的50维度的embedding;

In [588]:
embeddings_index = {}
with open('vectors.txt') as f:
    for line in f:
        values = line.split()
        word = values[0]
        coefs = np.asarray(values[1:], dtype='float32')
        embeddings_index[word] = coefs

print('Found %s word vectors.' % len(embeddings_index))

Found 111 word vectors.

In [556]:
embeddings_index

{"'M1823072687'": array([ 0.675986, -0.075922,  0.151441,  0.158761, -0.034658,  0.472927,
         0.003477, -0.681996, -0.086285, -0.422993,  0.277372, -0.3796  ,
         0.349792,  0.323272, -0.020234,  0.058311, -0.278902, -0.285694,
        -0.139044,  0.507276, -0.341835, -0.865007,  0.581334,  0.035477,
         0.224606,  0.659851, -0.013023, -0.568135, -0.272945, -0.267444,
        -0.707815, -0.894838, -0.373877,  0.018446, -0.217044,  0.96138 ,
        -0.203025,  0.929957, -0.93254 ,  0.363158,  0.093442,  0.475872,
        -1.014866, -0.240486,  0.424623,  1.41615 ,  0.160433,  0.084048,
        -0.404824,  0.016036], dtype=float32),
 "'M348934600'": array([ 0.117292, -0.429149,  0.161984,  0.054493,  0.771681,  0.492368,
         0.0453  ,  0.375068,  0.112358,  0.026556,  0.604166, -0.269543,
         0.814167,  0.497165,  0.106263, -0.171392, -0.778946,  0.344986,
         0.402039,  0.519135, -0.079943, -0.348474,  0.897065, -0.072976,
         0.214117,  0.556293,  0.02067 , -0.056663, -0.289784, -0.188949,
        -0.18901 , -0.224532,  0.222372, -0.417278,  0.076566,  0.995152,
         0.578453,  0.674553, -0.709631,  0.54772 ,  0.271429,  0.534507,
        -0.605394,  0.018621, -0.254914,  0.388747,  0.277085, -0.197252,
        -0.432869, -0.502911], dtype=float32),
 "'M85975013'": array([ 0.513905,  0.176593,  0.23084 ,  0.22185 ,  0.086436,  0.127675,
         0.129028, -0.555299, -0.105036, -0.395088,  0.207135, -0.19624 ,
         0.257427,  0.43384 ,  0.133123,  0.103478, -0.0124  , -0.350774,
        -0.116658,  0.334564, -0.430642, -0.796605,  0.303137,  0.139762,
         0.405396,  0.598077, -0.044   , -0.398881, -0.046897, -0.06794 ,
        -0.574163, -0.900649, -0.210296,  0.007286, -0.183524,  0.818079,
        -0.130397,  0.760608, -0.728004,  0.382343,  0.205789,  0.284179,
        -0.737114, -0.226397,  0.482262,  1.266816,  0.088612, -0.033325,
        -0.200103, -0.011983], dtype=float32),
 "'M1053599405'": array([ 0.438876,  0.228892,  0.199597,  0.19288 ,  0.036764, -0.005351,
         0.154762, -0.525509, -0.064003, -0.366091,  0.128819, -0.112219,
         0.227074,  0.427135,  0.157824,  0.110531,  0.084461, -0.325469,
        -0.142726,  0.2526  , -0.419279, -0.720427,  0.148303,  0.183971,
         0.424926,  0.534184, -0.041522, -0.356365, -0.038711,  0.024887,
        -0.554337, -0.820419, -0.130232,  0.017574, -0.182457,  0.712495,
        -0.098535,  0.622575, -0.590394,  0.30668 ,  0.238794,  0.187164,
        -0.58862 , -0.235909,  0.409334,  1.111718,  0.075425, -0.026712,
        -0.165745,  0.008672], dtype=float32),
 "'M151143676'": array([-0.001978, -0.211021,  0.176785,  0.058632,  0.515365,  0.210681,
         0.053299,  0.314223,  0.028541,  0.003274,  0.415274, -0.132452,
         0.539223,  0.361608,  0.131591, -0.139332, -0.432945,  0.252384,
         0.31433 ,  0.340866, -0.098529, -0.189167,  0.556884, -0.032895,
         0.212066,  0.394888, -0.001655,  0.008423, -0.135927, -0.129857,
        -0.106646, -0.207101,  0.186985, -0.266997,  0.05199 ,  0.647804,
         0.400574,  0.455223, -0.396492,  0.327662,  0.231759,  0.302459,
        -0.351386,  0.028665, -0.140256,  0.204316,  0.119082, -0.192253,
        -0.185493, -0.308957], dtype=float32),
 "'M855959430'": array([ 0.074091, -0.240535,  0.114673,  0.048037,  0.337371,  0.261308,
         0.049984,  0.165967,  0.062369, -0.004264,  0.330776, -0.180242,
         0.446311,  0.258579,  0.101944, -0.093764, -0.461322,  0.16285 ,
         0.230364,  0.313996, -0.104845, -0.223369,  0.542587, -0.078939,
         0.074771,  0.36141 ,  0.010464, -0.062887, -0.170747, -0.144923,
        -0.145867, -0.186225,  0.065614, -0.172777,  0.027017,  0.556627,
         0.252363,  0.434184, -0.421181,  0.232017,  0.124773,  0.299014,
        -0.381675, -0.015138, -0.098628,  0.226008,  0.189472, -0.087399,
        -0.235538, -0.236814], dtype=float32),
 "'M1946091778'": array([ 0.353952,  0.238183,  0.27852 ,  0.179283,  0.253593,  0.007343,
         0.109406, -0.334512, -0.085264, -0.312735,  0.231961, -0.091035,
         0.35251 ,  0.493673,  0.204815,  0.025021,  0.030529, -0.212686,
         0.021187,  0.29316 , -0.409025, -0.657494,  0.225684,  0.169062,
         0.491874,  0.591518, -0.03121 , -0.220086,  0.016416, -0.025073,
        -0.426027, -0.812729, -0.029659, -0.031457, -0.179888,  0.737374,
         0.063955,  0.643233, -0.609762,  0.429679,  0.355974,  0.215847,
        -0.531361, -0.164225,  0.332473,  1.051283,  0.087499, -0.146398,
        -0.139902, -0.091536], dtype=float32),
 "'M1913465890'": array([ 0.5233  ,  0.278587,  0.231697,  0.197159, -0.041097, -0.033396,
         0.175247, -0.642058, -0.094336, -0.416042,  0.09055 , -0.103492,
         0.232346,  0.446334,  0.163279,  0.145556,  0.128125, -0.404933,
        -0.180538,  0.297041, -0.510888, -0.811197,  0.154252,  0.202791,
         0.451145,  0.621703, -0.043906, -0.413891, -0.051882,  0.050543,
        -0.667669, -0.915536, -0.179082,  0.041642, -0.216053,  0.75679 ,
        -0.177584,  0.695544, -0.622486,  0.281582,  0.271276,  0.197568,
        -0.662007, -0.301585,  0.491128,  1.210905,  0.121863, -0.036756,
        -0.16226 ,  0.062528], dtype=float32),
 "'M209847108'": array([-0.044444, -0.141521,  0.20451 , -0.002211,  0.589593,  0.156949,
         0.072103,  0.40898 ,  0.052056,  0.095221,  0.407239, -0.131849,
         0.653435,  0.419083,  0.162359, -0.15211 , -0.342854,  0.286321,
         0.386735,  0.368494, -0.121885, -0.150195,  0.520105, -0.061008,
         0.309331,  0.43311 , -0.057789,  0.089644, -0.079599, -0.12532 ,
        -0.01716 , -0.215996,  0.249876, -0.296235,  0.054184,  0.63283 ,
         0.466658,  0.483178, -0.358416,  0.406393,  0.300072,  0.314738,
        -0.211827,  0.036693, -0.186627,  0.160904,  0.176669, -0.267177,
        -0.177621, -0.373004], dtype=float32),
 "'M480139044'": array([-0.105805, -0.343598, -0.15058 , -0.148121, -0.187024,  0.205417,
        -0.177743, -0.005305, -0.07397 ,  0.127528, -0.044632, -0.125424,
        -0.334865, -0.3924  , -0.167493,  0.056043, -0.145668,  0.070542,
        -0.065992, -0.099887,  0.209362,  0.305122,  0.001884, -0.221783,
        -0.441744, -0.381914,  0.069365,  0.038093, -0.036204, -0.153591,
         0.218034,  0.462363, -0.171357,  0.066584,  0.069898, -0.385429,
        -0.164267, -0.193875,  0.157029, -0.200275, -0.312523, -0.090902,
         0.093478,  0.093229, -0.060408, -0.391616, -0.131528,  0.24491 ,
        -0.039856,  0.076449], dtype=float32),
 "'M349281107'": array([ 0.422623,  0.269257,  0.212539,  0.226212,  0.18796 , -0.017634,
         0.112875, -0.488701, -0.127804, -0.382028,  0.1717  , -0.105306,
         0.191082,  0.402546,  0.170161,  0.072312,  0.101642, -0.307022,
        -0.09749 ,  0.236089, -0.360608, -0.690628,  0.085948,  0.2331  ,
         0.452002,  0.474258, -0.055182, -0.29317 ,  0.038264,  0.037631,
        -0.481424, -0.817378, -0.133423, -0.010516, -0.168478,  0.665018,
        -0.083807,  0.594512, -0.595516,  0.363152,  0.228408,  0.153293,
        -0.580263, -0.157867,  0.496845,  1.129304, -0.011909, -0.041956,
        -0.163136,  0.013783], dtype=float32),
 "'M1600850729'": array([ 0.322172,  0.140016,  0.193915,  0.169573,  0.215937,  0.065653,
         0.076782, -0.329017, -0.114223, -0.280375,  0.201818, -0.117065,
         0.230914,  0.366164,  0.157491,  0.0199  , -0.028103, -0.209681,
        -0.010345,  0.268723, -0.305153, -0.533473,  0.19512 ,  0.141328,
         0.330486,  0.433152, -0.054453, -0.230378,  0.004092, -0.029978,
        -0.384537, -0.65014 , -0.08617 , -0.042603, -0.126828,  0.628782,
        -0.005388,  0.577683, -0.538389,  0.31963 ,  0.194364,  0.172921,
        -0.539166, -0.13384 ,  0.345009,  0.899968,  0.010542, -0.057428,
        -0.158197, -0.026022], dtype=float32),
 '\'M1823072687\'"': array([ 0.351923,  0.198785,  0.19298 ,  0.184643,  0.164517,  0.03462 ,
         0.084187, -0.402314, -0.112924, -0.321394,  0.163129, -0.10784 ,
         0.228236,  0.395359,  0.14769 ,  0.06804 ,  0.062029, -0.266539,
        -0.05759 ,  0.232477, -0.337506, -0.588481,  0.145134,  0.187858,
         0.386019,  0.45927 , -0.049209, -0.254395,  0.008347,  0.0098  ,
        -0.406824, -0.7209  , -0.094409, -0.025544, -0.147009,  0.637044,
        -0.026798,  0.559572, -0.527743,  0.324367,  0.211958,  0.16063 ,
        -0.505388, -0.185033,  0.368497,  0.980017,  0.044348, -0.049853,
        -0.15192 , -0.009285], dtype=float32),
 '"\'M1823072687\'': array([ 0.372467,  0.256859,  0.217211,  0.177375,  0.16622 , -0.002682,
         0.129272, -0.325457, -0.123837, -0.319865,  0.167742, -0.092449,
         0.305265,  0.401628,  0.182105,  0.083502,  0.090153, -0.204351,
        -0.046066,  0.272982, -0.332351, -0.622496,  0.144817,  0.195139,
         0.45415 ,  0.517803, -0.045378, -0.257292,  0.010571,  0.044539,
        -0.448676, -0.725737, -0.044115, -0.053906, -0.14171 ,  0.667381,
         0.013469,  0.557749, -0.542402,  0.360774,  0.298835,  0.177888,
        -0.494433, -0.161682,  0.358014,  0.967503,  0.061955, -0.107119,
        -0.122423, -0.023808], dtype=float32),
 "'M1535107174'": array([-0.111174, -0.089373, -0.011427,  0.060735,  0.330821,  0.049911,
        -0.134114,  0.274893, -0.163108,  0.030364,  0.037794, -0.008992,
        -0.191143, -0.125922, -0.065325,  0.045946, -0.073226, -0.011535,
         0.062754, -0.107308,  0.320021,  0.246311, -0.132892,  0.084445,
        -0.123521, -0.38641 , -0.033777,  0.118887,  0.219782,  0.043406,
         0.407356,  0.25107 ,  0.029189, -0.142978,  0.136656, -0.206042,
         0.173396, -0.254323,  0.111188,  0.084639, -0.157548, -0.178712,
         0.140157,  0.229904,  0.147931, -0.199411, -0.233468,  0.052419,
        -0.010116, -0.060484], dtype=float32),
 "'M980657600'": array([-0.06179 , -0.449029, -0.258326, -0.258021, -0.484696,  0.238487,
        -0.102956, -0.056672,  0.203553,  0.276596, -0.144566, -0.082126,
        -0.18062 , -0.426938, -0.242375, -0.052277, -0.259515,  0.160671,
        -0.089705, -0.053794,  0.119696,  0.293221,  0.14466 , -0.349555,
        -0.553752, -0.262675,  0.070024, -0.020229, -0.215721, -0.233778,
         0.054467,  0.579073, -0.208326,  0.216322,  0.033432, -0.44752 ,
        -0.270274, -0.172822,  0.219275, -0.410907, -0.356385,  0.086932,
         0.119792, -0.026354, -0.385467, -0.595486,  0.123122,  0.212282,
        -0.069177,  0.040355], dtype=float32),
 "'M78078399'": array([-0.049952, -0.17887 ,  0.218514, -0.013853,  0.645412,  0.155515,
         0.119702,  0.516306,  0.118126,  0.123851,  0.465137, -0.11764 ,
         0.826533,  0.519182,  0.199533, -0.199273, -0.437345,  0.395446,
         0.448237,  0.430019, -0.169643, -0.213881,  0.643893, -0.101974,
         0.375969,  0.596594, -0.044441,  0.117667, -0.129955, -0.132095,
        -0.062052, -0.258914,  0.312346, -0.304106,  0.070302,  0.746305,
         0.583237,  0.558634, -0.439538,  0.436276,  0.40762 ,  0.401232,
        -0.239846,  0.018965, -0.312687,  0.119569,  0.286474, -0.342297,
        -0.218892, -0.480093], dtype=float32),
 "'M1198415165'": array([-0.134245, -0.17951 , -0.038171, -0.005765,  0.174804,  0.066831,
        -0.121169,  0.294153, -0.057879,  0.112538,  0.007879,  0.019997,
        -0.10729 , -0.146432, -0.062646, -0.035084, -0.141311,  0.096842,
         0.086716, -0.072494,  0.258313,  0.244488, -0.039271, -0.028247,
        -0.156019, -0.320144, -0.024497,  0.155975,  0.102679, -0.021308,
         0.321985,  0.289172,  0.061216, -0.050717,  0.104481, -0.20802 ,
         0.114373, -0.217315,  0.154061, -0.007567, -0.132165, -0.089328,
         0.1596  ,  0.166207, -0.073863, -0.384793, -0.124548,  0.038214,
        -0.020452, -0.057437], dtype=float32),
 '"\'M348934600\'': array([-0.053318, -0.097974,  0.178308,  0.092745,  0.550529,  0.131924,
         0.026066,  0.346786, -0.032709, -0.007544,  0.351922, -0.078049,
         0.427912,  0.315887,  0.138607, -0.110706, -0.285147,  0.211088,
         0.308092,  0.252056, -0.032469, -0.117658,  0.379256,  0.019761,
         0.241098,  0.28095 , -0.016041,  0.08101 , -0.009799, -0.077306,
         0.006708, -0.181519,  0.211959, -0.283247,  0.049837,  0.515401,
         0.430078,  0.296103, -0.300332,  0.360336,  0.23011 ,  0.185077,
        -0.22109 ,  0.071985, -0.053903,  0.172742,  0.036972, -0.213841,
        -0.117085, -0.254444], dtype=float32),
 '\'M348934600\'"': array([-0.008636, -0.080153,  0.167342,  0.108299,  0.468847,  0.077619,
         0.060433,  0.290113,  0.007125, -0.032714,  0.284939, -0.048926,
         0.423187,  0.318192,  0.148393, -0.082337, -0.270803,  0.143743,
         0.25042 ,  0.238374, -0.067003, -0.183892,  0.343544,  0.054042,
         0.212777,  0.291401, -0.036365,  0.019009, -0.050553, -0.007575,
        -0.068744, -0.215942,  0.186058, -0.244387,  0.048657,  0.515322,
         0.346883,  0.296829, -0.272676,  0.28699 ,  0.211285,  0.181567,
        -0.247488,  0.011702, -0.034214,  0.174557,  0.081413, -0.188771,
        -0.123771, -0.232565], dtype=float32),
 "'M840466850'": array([ 0.328999,  0.209021,  0.06988 ,  0.073487, -0.298197, -0.030325,
         0.051777, -0.613104, -0.063807, -0.255578, -0.077911, -0.055537,
        -0.112377,  0.116672,  0.005596,  0.101214,  0.234349, -0.30918 ,
        -0.247635,  0.071155, -0.247877, -0.408714, -0.063473,  0.09249 ,
         0.196792,  0.220582,  0.008934, -0.301448, -0.06496 ,  0.009368,
        -0.413448, -0.478465, -0.247271,  0.159886, -0.162659,  0.223886,
        -0.334938,  0.279725, -0.26858 ,  0.062342,  0.054898,  0.050413,
        -0.306513, -0.16317 ,  0.333173,  0.716727, -0.026482,  0.100493,
         0.001983,  0.205442], dtype=float32),
 "'M1649169323'": array([-0.088187, -0.218576,  0.119633,  0.028659,  0.215339,  0.138564,
         0.104028,  0.277669,  0.186888,  0.063602,  0.280036, -0.03798 ,
         0.486893,  0.2617  ,  0.097499, -0.137763, -0.388812,  0.262679,
         0.238993,  0.276827, -0.103954, -0.112211,  0.537259, -0.1138  ,
         0.077722,  0.377788,  0.040928,  0.052015, -0.278266, -0.086472,
        -0.156524, -0.066401,  0.213416, -0.169905,  0.018328,  0.467934,
         0.280531,  0.296116, -0.20568 ,  0.093562,  0.206205,  0.252211,
        -0.234697, -0.04837 , -0.292113, -0.0878  ,  0.261406, -0.195176,
        -0.072679, -0.205793], dtype=float32),
 "'M547558035'": array([-0.333939, -0.052755, -0.056872, -0.022268,  0.159105, -0.08103 ,
        -0.168509,  0.335499, -0.142242,  0.155981, -0.02871 ,  0.089566,
        -0.279018, -0.279127, -0.093986, -0.035108,  0.09074 ,  0.152872,
         0.078386, -0.184104,  0.359207,  0.500432, -0.26793 ,  0.017854,
        -0.124641, -0.519686,  0.01048 ,  0.243366,  0.232332,  0.012556,
         0.49524 ,  0.487739,  0.116572, -0.085547,  0.096252, -0.476749,
         0.122767, -0.463356,  0.391085, -0.006939, -0.14452 , -0.280696,
         0.435843,  0.283744, -0.016837, -0.552226, -0.310136,  0.061867,
         0.169858,  0.087733], dtype=float32),
 "'M1888755466'": array([ 1.07006e-01, -1.11260e-01, -9.75650e-02, -1.82850e-02,
        -1.37741e-01,  1.08842e-01, -1.14400e-03, -3.52910e-02,
        -3.88990e-02,  2.98220e-02, -7.89980e-02, -7.60590e-02,
        -1.49836e-01, -1.77209e-01, -1.18859e-01,  1.11935e-01,
        -7.39360e-02, -6.80980e-02, -1.00911e-01, -4.86140e-02,
         1.19888e-01,  4.35660e-02,  4.20000e-05, -4.02950e-02,
        -2.35218e-01, -1.46944e-01,  1.91830e-02, -7.90530e-02,
        -2.30620e-02, -6.16000e-04,  5.12270e-02,  1.51949e-01,
        -1.11219e-01,  6.48800e-03,  4.88770e-02, -1.17736e-01,
        -9.38580e-02, -9.32910e-02,  1.66650e-02, -1.23928e-01,
        -1.94520e-01, -3.43650e-02, -8.27100e-03,  7.27400e-03,
         2.24070e-02, -1.11608e-01, -4.27500e-03,  1.06407e-01,
        -7.76690e-02,  1.86200e-02], dtype=float32),
 "'M50039827'": array([-0.361708,  0.099206,  0.0353  ,  0.04796 ,  0.301738, -0.155141,
        -0.227689,  0.323364, -0.281634,  0.018612, -0.006878,  0.11168 ,
        -0.383757, -0.282127,  0.005987, -0.014389,  0.197444,  0.079451,
         0.055781, -0.238292,  0.387203,  0.464011, -0.466244,  0.133203,
         0.004649, -0.599274,  0.012586,  0.233349,  0.360568,  0.097403,
         0.502471,  0.371871,  0.135057, -0.122024,  0.080052, -0.466783,
         0.115721, -0.491856,  0.354808,  0.093809, -0.088306, -0.402986,
         0.428638,  0.330996,  0.16774 , -0.370265, -0.448261,  0.082041,
         0.239121,  0.153855], dtype=float32),
 "'M692898500'": array([-0.38166 ,  0.010679,  0.033139,  0.037681,  0.337419, -0.111457,
        -0.216215,  0.386687, -0.235431,  0.059044,  0.028669,  0.07963 ,
        -0.345623, -0.245011, -0.044546, -0.044966,  0.123097,  0.13662 ,
         0.123397, -0.212195,  0.421589,  0.470214, -0.340236,  0.107963,
        -0.029406, -0.610319,  0.015889,  0.225135,  0.312285,  0.057851,
         0.527235,  0.401449,  0.126344, -0.166178,  0.121036, -0.400426,
         0.212999, -0.484575,  0.337679,  0.13003 , -0.104519, -0.349736,
         0.384961,  0.345283,  0.107441, -0.438423, -0.456503,  0.033875,
         0.198391,  0.07112 ], dtype=float32),
 "'M1400236507'": array([ 0.431483,  0.363501,  0.178872,  0.206143,  0.037339, -0.041533,
         0.135493, -0.573185, -0.077844, -0.414678,  0.083796, -0.08179 ,
         0.217234,  0.445837,  0.158289,  0.100455,  0.206931, -0.370249,
        -0.139476,  0.193751, -0.43206 , -0.736823,  0.051816,  0.25107 ,
         0.499404,  0.571267, -0.019301, -0.310208, -0.009443,  0.088688,
        -0.57429 , -0.902686, -0.134328,  0.045643, -0.20751 ,  0.696026,
        -0.076515,  0.5451  , -0.570122,  0.331591,  0.313614,  0.179666,
        -0.559474, -0.27843 ,  0.413659,  1.170999,  0.096297, -0.101432,
        -0.113713,  0.055302], dtype=float32),
 "'M1842530320'": array([ 0.293483,  0.127703,  0.184728,  0.15679 ,  0.10194 ,  0.041959,
         0.113494, -0.252253,  0.000766, -0.242447,  0.154174, -0.092814,
         0.287769,  0.363413,  0.133649,  0.031426, -0.050609, -0.160941,
         0.017634,  0.241759, -0.316372, -0.54744 ,  0.259435,  0.106188,
         0.3333  ,  0.471676, -0.008705, -0.225308, -0.096424, -0.005268,
        -0.411911, -0.608175, -0.039046, -0.039954, -0.10839 ,  0.632165,
         0.025982,  0.477807, -0.471707,  0.260987,  0.224934,  0.217186,
        -0.475843, -0.166329,  0.218097,  0.759226,  0.132889, -0.10056 ,
        -0.12481 , -0.059108], dtype=float32),
 "'M97925176'": array([-0.035196, -0.076672,  0.260862, -0.002271,  0.695172,  0.135061,
         0.191134,  0.575   ,  0.157845,  0.147632,  0.510123, -0.092985,
         1.007728,  0.646094,  0.262385, -0.238543, -0.413002,  0.438924,
         0.519437,  0.487368, -0.254526, -0.259782,  0.715414, -0.083613,
         0.481323,  0.781683, -0.061394,  0.135311, -0.187343, -0.124408,
        -0.13637 , -0.367654,  0.408009, -0.347257,  0.038397,  0.889923,
         0.653366,  0.664733, -0.458692,  0.463089,  0.524541,  0.47958 ,
        -0.244636, -0.037881, -0.395899,  0.162528,  0.405172, -0.448849,
        -0.199583, -0.51128 ], dtype=float32),
 "'M732195782'": array([-0.036702, -0.372418, -0.232623, -0.240387, -0.412098,  0.268245,
        -0.034359,  0.016485,  0.226441,  0.28034 , -0.084708, -0.136626,
        -0.01284 , -0.287092, -0.199994, -0.0461  , -0.27975 ,  0.166483,
        -0.031626, -0.020019,  0.057082,  0.251659,  0.264139, -0.354016,
        -0.465472, -0.058872,  0.065475,  0.006224, -0.314303, -0.189779,
         0.021014,  0.446779, -0.13874 ,  0.138993,  0.053357, -0.268022,
        -0.198435, -0.056271,  0.141822, -0.380602, -0.27876 ,  0.159459,
         0.086378, -0.069791, -0.422501, -0.502125,  0.270497,  0.150371,
        -0.086421, -0.062555], dtype=float32),
 "'M45060432'": array([ 0.40848 ,  0.219448,  0.161874,  0.158098, -0.00202 ,  0.055952,

In [602]:
embedding_matrix = np.zeros((len(vocab) + 1, EMBEDDING_DIM))
for word, i in vocab.items():
    embedding_vector = embeddings_index.get(word)
    if embedding_vector is not None:
        # words not found in embedding index will be all-zeros.
        embedding_matrix[i] = embedding_vector

In [599]:
embedding_matrix.shape

(51, 50)

In [622]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding

In [625]:
model = Sequential()
embedding_layer = Embedding(len(vocab) + 1,
                            EMBEDDING_DIM,
                            weights=[embedding_matrix],
                            input_length=max_len,
                            trainable=False)
model.add(embedding_layer)
model.compile('rmsprop', 'mse')

In [626]:
#把输入传人Embedding层，得到输入的merchant_seq的embedding向量
output_array = model.predict(x_padded_seqs)

In [628]:
output_array.shape

(4112, 3000, 50)

### 五、模型训练和评估
把原始数据的10%作为验证集，进行模型评估

In [519]:
import model_trainer

In [520]:
import lightgbm as lgb
lgb = lgb.LGBMClassifier(num_leaves=2**5-1, reg_alpha=0.25, reg_lambda=0.25, objective='binary',
                         max_depth=-1, learning_rate=0.005, min_child_samples=3, random_state=2021,
                         n_estimators=2000, subsample=1, colsample_bytree=1)

In [521]:
import xgboost as xgb
xgb = xgb.XGBClassifier(max_depth=6, learning_rate=0.05, n_estimators=2000, 
                              objective='binary:logistic', #tree_method='gpu_hist', 
                              subsample=0.8, colsample_bytree=0.8, min_child_samples=3, 
                              eval_metric='auc', reg_lambda=0.5)

#### 1.获得baseline1,配合前面初步特征工程，对特征进行删减

In [ ]:
#0.初始特征：(lgb) time, customer_id, age_group, gender, merchant_id, type, amount
#score = 0.6919816998131266
clf0, score0 = model_trainer.trainer(lgb, df_train)
score0

In [522]:
score0

0.6919816998131266

In [ ]:
#1.初始特征：(xgb) time, customer_id, age_group, gender, merchant_id, type, amount
#score = 0.7208083312020546
clf1, score1 = model_trainer.trainer(xgb, df_train)
score1

In [523]:
score1

0.7208083312020546

In [ ]:
from lightgbm import plot_importance
from matplotlib import pyplot
fig, ax = pyplot.subplots(figsize=(10, 10))
plot_importance(clf0, ax)
pyplot.show()

In [ ]:
#2.加上_count, _mean, _std特征
clf2, score2 = model_trainer.trainer(lgb, df_train)
score2

In [525]:
score2

0.6861386028757334

In [ ]:
fig, ax = pyplot.subplots(figsize=(10, 10))
plot_importance(clf2, ax)
pyplot.show()

In [ ]:
#3.加上_count, _mean, _std特征
clf3, score3 = model_trainer.trainer(xgb, df_train)
score3

In [526]:
score3

0.7087504471755575

In [ ]:
#4.去掉customer_id
clf4, score4 = model_trainer.trainer(lgb, df_train.drop(['customer_id'], axis=1))
score4

In [527]:
score4

0.6458139802777159

In [ ]:
#5.去掉_mean, _std, 只保留_count
#score = 0.6895874169965035
clf5, score5 = model_trainer.trainer(lgb, df_train)
score5

In [528]:
score5

0.6895874169965035

In [ ]:
#6._count, mer_cus_count
clf6, score6 = model_trainer.trainer(lgb, df_train)
score6

In [529]:
score6

0.6861386028757334

In [ ]:
fig, ax = pyplot.subplots(figsize=(10, 10))
plot_importance(clf6, ax)
pyplot.show()

In [ ]:
#7._count, mer_cus_count, mer_cus_mean, mer_cus_std
clf7, score7 = model_trainer.trainer(lgb, df_train)
score7

In [530]:
score7

0.6979686687165771

In [ ]:
#7.2.mer_cus_count, mer_cus_mean, mer_cus_std，去掉_count
clf7_2, score7_2 = model_trainer.trainer(lgb, df_train)
score7_2

In [531]:
score7_2

0.6818620634597591

In [ ]:
fig, ax = pyplot.subplots(figsize=(10, 10))
plot_importance(clf7, ax)
pyplot.show()

从模型验证结果和特征重要性来看，保留_count特征和mer_cus_count, mer_cus_mean, mer_cus_std
xgb效果更好

#### 2.增加tdidf特征（一到三元语法，有上下限（0.1，0.8），进行模型训练和评估

In [ ]:
#8.tdidf特征,1-3元语法（0.1，0.8），无_count特征，无customer_id, 无merchant_id
clf8, score8 = model_trainer.trainer(lgb, df_train)
score8

In [532]:
score8

0.6985617605292569

In [ ]:
#9.tdidf特征,1-3元语法（0.1，0.8），_count特征，mer_cus_count, mer_cus_mean, mer_cus_std 
clf9, score9 = model_trainer.trainer(lgb, df_train)
score9

In [533]:
score9

0.7494630809874008

In [ ]:
#9.tdidf特征,1-3元语法（0.1，0.9），_count特征，mer_cus_count, mer_cus_mean, mer_cus_std 
clf9_1, score9_1 = model_trainer.trainer(lgb, df_train)
score9_1

In [534]:
score9_1

0.7410550147300851

#### 3.增加tdidf特征（一到四元语法，有下限（0.1），进行模型训练和评估

In [ ]:
#10.tdidf特征,1-4元语法,下限（0.1），_count特征，mer_cus_count, mer_cus_mean, mer_cus_std 
clf10, score10 = model_trainer.trainer(lgb, df_train)
score10

In [535]:
score10

0.7404750469127944

In [ ]:
#11.tdidf特征,1-4元语法,下限（0.1），_count特征，mer_cus_count, mer_cus_mean, mer_cus_std 
clf11, score11 = model_trainer.trainer(xgb, df_train)
score11

In [536]:
score11

0.7363528171870456

#### 4.增加基于customer_id的统计特征

In [750]:
#lgb 增加基于customer_id的统计特征，不包含tdidf特征
#score = 0.7775679278624599
clf12, score12 = model_trainer.trainer(lgb, df_train)
score12

(266857, 49) (29651, 49) (266857,) (29651,)

0.7775679278624599

In [711]:
#增加基于customer_id的统计特征，包含tdidf特征
clf12_1, score12_1 = model_trainer.trainer(lgb, df_train)
score12_1

(266857, 220) (29651, 220) (266857,) (29651,)

0.7724127921919

In [712]:
#去掉'merchant_seq_len'，反而score有微小上升
clf13, score13 = model_trainer.trainer(lgb, df_train.drop(['merchant_seq_len'], axis=1))
score13

(266857, 219) (29651, 219) (266857,) (29651,)

0.7728701506207754

In [749]:
#xgb, 增加基于customer_id的统计特征，不包含tdidf特征
clf14, score14 = model_trainer.trainer(xgb, df_train)
score14

(266857, 49) (29651, 49) (266857,) (29651,)
[19:16:04] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "min_child_samples" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

0.769401996877237

#### 在以上lgb或xgb建模实践中，效果最好的是clf12，score = 0.7775679278624599。使用的是基于customer_id的统计特征，未使用tdidf特征，用的是lgb模型，使用的是祖传参数，未进行参数调整优化。

In [755]:
#测试集预测，得到结果
test_pred_y12 = clf12.predict_proba(df_test.drop(['id','fraud'], axis=1))
test_pred_y12

array([[9.99996705e-01, 3.29468649e-06],
       [9.99996061e-01, 3.93858322e-06],
       [9.99996106e-01, 3.89357937e-06],
       ...,
       [9.99995360e-01, 4.64000886e-06],
       [9.99995890e-01, 4.10971123e-06],
       [9.99995859e-01, 4.14082942e-06]])

In [759]:
result12 = df_test[['id']]
result12['score'] = test_pred_y12[:,-1]
result12

            id     score
296508       0  0.000003
296509       1  0.000004
296510       2  0.000004
296511       3  0.000004
296512       4  0.000005
...        ...       ...
594638  298130  0.000005
594639  298131  0.000004
594640  298132  0.000005
594641  298133  0.000004
594642  298134  0.000004

[298135 rows x 2 columns]

In [760]:
result12.to_csv('test_lgb_ml.csv', index=False)

#### 5.使用神经网络训练
包括开始的初步统计特征，基于customer_id的统计特征以及tdidf特征

In [715]:
train_x, val_x, train_y, val_y = train_test_split(df_train.drop(['id','fraud'], axis=1), df_train['fraud'], test_size=0.1, random_state=2021)

In [721]:
#特征归一化
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_x_nx = scaler.fit_transform(train_x)
val_x_nx = scaler.transform(val_x)

In [729]:
test_nx =  scaler.transform(df_test.drop(['id','fraud'], axis=1))
#test_nx

In [723]:
#使用神经网络进行训练
from tensorflow import keras
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import regularizers

adam = Adam(lr=0.001)
# 搭建模型 加上正则化项

model = keras.Sequential([
    keras.layers.Dense(250, activation='relu', input_shape=[len(train_x.columns)], kernel_regularizer=regularizers.l2(0.001)),
    keras.layers.Dropout(0.02),
    keras.layers.Dense(100, activation='relu', kernel_regularizer=regularizers.l2(0.001)),
    keras.layers.Dropout(0.02),
    keras.layers.Dense(50, kernel_regularizer=regularizers.l2(0.001)), 
    keras.layers.Dropout(0.02),
    keras.layers.Dense(25, kernel_regularizer=regularizers.l2(0.001)), 
    keras.layers.Dropout(0.02),
    keras.layers.Dense(1, activation='sigmoid') # 需要改写成sigmoid
])
model.compile(loss='binary_crossentropy', metrics=['accuracy'], optimizer=adam)

model.fit(train_x_nx, train_y, batch_size=10240, epochs=100)

Train on 266857 samples
Epoch 1/100
266857/266857 [==============================] - 9s 33us/sample - loss: 0.5363 - acc: 0.9837
Epoch 2/100
266857/266857 [==============================] - 6s 22us/sample - loss: 0.3957 - acc: 0.9918
Epoch 3/100
266857/266857 [==============================] - 6s 23us/sample - loss: 0.3114 - acc: 0.9940
Epoch 4/100
266857/266857 [==============================] - 6s 22us/sample - loss: 0.2499 - acc: 0.9952
Epoch 5/100
266857/266857 [==============================] - 6s 22us/sample - loss: 0.2055 - acc: 0.9955
Epoch 6/100
266857/266857 [==============================] - 7s 25us/sample - loss: 0.1729 - acc: 0.9957
Epoch 7/100
266857/266857 [==============================] - 7s 25us/sample - loss: 0.1478 - acc: 0.9960
Epoch 8/100
266857/266857 [==============================] - 7s 26us/sample - loss: 0.1286 - acc: 0.9960
Epoch 9/100
266857/266857 [==============================] - 7s 25us/sample - loss: 0.1138 - acc: 0.9961
Epoch 10/100
266857/266857 [==============================] - 7s 25us/sample - loss: 0.1012 - acc: 0.9961
Epoch 11/100
266857/266857 [==============================] - 6s 24us/sample - loss: 0.0911 - acc: 0.9961
Epoch 12/100
266857/266857 [==============================] - 6s 22us/sample - loss: 0.0823 - acc: 0.9961
Epoch 13/100
266857/266857 [==============================] - 6s 21us/sample - loss: 0.0747 - acc: 0.9962
Epoch 14/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0684 - acc: 0.9963
Epoch 15/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0631 - acc: 0.9963
Epoch 16/100
266857/266857 [==============================] - 6s 21us/sample - loss: 0.0580 - acc: 0.9962
Epoch 17/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0546 - acc: 0.9962
Epoch 18/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0507 - acc: 0.9962
Epoch 19/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0481 - acc: 0.9959
Epoch 20/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0442 - acc: 0.9963
Epoch 21/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0416 - acc: 0.9963
Epoch 22/100
266857/266857 [==============================] - 6s 21us/sample - loss: 0.0395 - acc: 0.9963
Epoch 23/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0374 - acc: 0.9963
Epoch 24/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0356 - acc: 0.9962
Epoch 25/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0341 - acc: 0.9963
Epoch 26/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0325 - acc: 0.9963
Epoch 27/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0313 - acc: 0.9962
Epoch 28/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0295 - acc: 0.9964
Epoch 29/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0287 - acc: 0.9963
Epoch 30/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0275 - acc: 0.9963
Epoch 31/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0266 - acc: 0.9963
Epoch 32/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0257 - acc: 0.9963
Epoch 33/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0248 - acc: 0.9964
Epoch 34/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0241 - acc: 0.9963
Epoch 35/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0238 - acc: 0.9962
Epoch 36/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0232 - acc: 0.9963
Epoch 37/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0227 - acc: 0.9962
Epoch 38/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0220 - acc: 0.9962
Epoch 39/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0216 - acc: 0.9962
Epoch 40/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0215 - acc: 0.9962
Epoch 41/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0209 - acc: 0.9962
Epoch 42/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0208 - acc: 0.9962
Epoch 43/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0202 - acc: 0.9963
Epoch 44/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0197 - acc: 0.9963
Epoch 45/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0194 - acc: 0.9962
Epoch 46/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0194 - acc: 0.9962
Epoch 47/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0190 - acc: 0.9962
Epoch 48/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0186 - acc: 0.9963
Epoch 49/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0186 - acc: 0.9964
Epoch 50/100
266857/266857 [==============================] - 6s 23us/sample - loss: 0.0182 - acc: 0.9964
Epoch 51/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0185 - acc: 0.9963
Epoch 52/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0181 - acc: 0.9963
Epoch 53/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0181 - acc: 0.9962
Epoch 54/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0177 - acc: 0.9963
Epoch 55/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0175 - acc: 0.9964
Epoch 56/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0175 - acc: 0.9963
Epoch 57/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0173 - acc: 0.9963
Epoch 58/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0172 - acc: 0.9964
Epoch 59/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0176 - acc: 0.9963
Epoch 60/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0173 - acc: 0.9963
Epoch 61/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0172 - acc: 0.9963
Epoch 62/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0178 - acc: 0.9961
Epoch 63/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0172 - acc: 0.99633s - loss: 0.01
Epoch 64/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0167 - acc: 0.9964
Epoch 65/100
266857/266857 [==============================] - 6s 21us/sample - loss: 0.0167 - acc: 0.9963
Epoch 66/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0168 - acc: 0.9963
Epoch 67/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0166 - acc: 0.9964
Epoch 68/100
266857/266857 [==============================] - 7s 26us/sample - loss: 0.0164 - acc: 0.9964
Epoch 69/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0164 - acc: 0.9963
Epoch 70/100
266857/266857 [==============================] - 5s 21us/sample - loss: 0.0161 - acc: 0.9964
Epoch 71/100
266857/266857 [==============================] - 6s 22us/sample - loss: 0.0164 - acc: 0.9964
Epoch 72/100
266857/266857 [==============================] - 6s 23us/sample - loss: 0.0160 - acc: 0.9965
Epoch 73/100
266857/266857 [==============================] - 6s 22us/sample - loss: 0.0161 - acc: 0.9964
Epoch 74/100
266857/266857 [==============================] - 6s 22us/sample - loss: 0.0161 - acc: 0.9964
Epoch 75/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0160 - acc: 0.9964
Epoch 76/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0158 - acc: 0.9964
Epoch 77/100
266857/266857 [==============================] - 6s 21us/sample - loss: 0.0166 - acc: 0.9962
Epoch 78/100

266857/266857 [==============================] - 5s 19us/sample - loss: 0.0160 - acc: 0.9963
Epoch 79/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0160 - acc: 0.9964
Epoch 80/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0161 - acc: 0.9963
Epoch 81/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0162 - acc: 0.9963
Epoch 82/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0158 - acc: 0.9965
Epoch 83/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0157 - acc: 0.9964
Epoch 84/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0155 - acc: 0.9964
Epoch 85/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0157 - acc: 0.9963
Epoch 86/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0156 - acc: 0.9964
Epoch 87/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0160 - acc: 0.9963
Epoch 88/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0157 - acc: 0.9964
Epoch 89/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0155 - acc: 0.9965
Epoch 90/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0155 - acc: 0.9964
Epoch 91/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0154 - acc: 0.9964
Epoch 92/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0154 - acc: 0.9964
Epoch 93/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0157 - acc: 0.9963
Epoch 94/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0157 - acc: 0.9964
Epoch 95/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0154 - acc: 0.9965
Epoch 96/100
266857/266857 [==============================] - 5s 20us/sample - loss: 0.0154 - acc: 0.9965
Epoch 97/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0156 - acc: 0.9964
Epoch 98/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0154 - acc: 0.9964
Epoch 99/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0151 - acc: 0.9965
Epoch 100/100
266857/266857 [==============================] - 5s 19us/sample - loss: 0.0152 - acc: 0.9964

In [724]:
pred_y = model.predict(val_x_nx)
score_nx = average_precision_score(val_y, pred_y)
score_nx

0.8938012458423894

#### 此案例神经网络的score=0.8938012458423894，特征包括开始的初步统计特征，基于customer_id的统计特征以及tdidf特征。结果远远好于上面使用lgb或者xgb的效果。

In [731]:
#测试集预测，得到结果
test_pred_y = model.predict(test_nx)
test_pred_y

array([[5.9306622e-06],
       [4.1335821e-05],
       [7.5399876e-06],
       ...,
       [5.9935919e-05],
       [8.8382949e-05],
       [1.2576350e-05]], dtype=float32)

In [736]:
result = df_test[['id']]
result['score'] = test_pred_y
result

            id     score
296508       0  0.000006
296509       1  0.000041
296510       2  0.000008
296511       3  0.000010
296512       4  0.000105
...        ...       ...
594638  298130  0.000015
594639  298131  0.000014
594640  298132  0.000060
594641  298133  0.000088
594642  298134  0.000013

[298135 rows x 2 columns]

In [738]:
result.to_csv('test_nx.csv', index=False)